{% extends 'base.html' %}

{% block body %}
    <div class="page-breadcrumb">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    {{ field }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                <p>field:</p>
                {{ field }}
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Welcome</h3>
                <br>
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Login</h4>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
    <div class="form-container">
      <form method='post'>
        {% csrf_token %}
          {% for field in form %}
          <div class="form-row">
            <div class="col-md-1">
              <label>{{ field.label_tag }}</label>
            </div>
            <div class="col-md-3">{{ field }}</div>
          </div>
          <br>
          {% endfor %}
          <div class="form-row">
            <div class="float-right mb-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
      </form>
    </div>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">
                    Don't have an account? <span><a href="#">Register Here!</a></span></h4>
            </div>
        </div>
    </div>
{% endblock %}
